ol.tareas{
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    color:#003366;
}
ul.materiales{
    list-style-type:square;
    list-style-position: outside;
    color:#2a7a1f;
}
ul.recursos{
    list-style-image:url('https://images.unsplash.com/photo-1689308271305-58e75832289b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8');
    list-style-position: inside;
    color:#444444;
}