body{
    background-color: chocolate;
}
footer{
    background-color: lightgray;
    text-align: center;
    clear: both;
    padding: 10px;
}

header{
    text-align: center;
}
.columnleft{
    float: left;
    background-color: lightblue;
    width: 20%;
    padding: 20px;
    border: 3px solid red;
}
.columncenter{
    float: left;
    background-color: lightseagreen;
    width: 20%;
    padding: 20px;
    border: 3px solid blueviolet;
}
.columnright{
    float: right;
    background-color: lightgoldenrodyellow;
    width: 20%;
    padding: 20px;
    border: 3px solid blue;
}
.columnaextra{
    float: right;
    background-color: rgb(255, 0, 0);
    width: 20%;
    padding: 20px;
    border: 3px solid blue;
}
