@use '../base/variables' as *;
.card-base {
    background-color: $colorBlanco;
    border-radius: $border-radius;
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    h3 {
        margin: 15px;
        color: $textoPrincipal;
    }
    p {
        margin: 0 15px 10px;
        font-size: 14px;
    }
    .card_price {
        display: block;
        margin: 15px;
        font-weight: bold;
        font-size: 18px;
        color: $colorSecundario;
    }
}

.home {
    padding: 40px;
    background-color: $colorFondo;
    h1 {
        text-align: center;
        margin-bottom: 40px;
        font-family: $fuentePrincipal;
        color: $textoPrincipal;
    }
    .grid {
        display: flex;
        gap: 20px;
    }
    .card {
        @extend .card-base;
        width: 25%;
        margin-bottom: 20px;
    }
}