.bloqueGlobal{
    position: relative;
    background-color:rgb(255, 188, 249) ;
    margin: 30px;
    padding: 100px;
    border: 3px solid deeppink;
}
.bloque1{
    position: static;
    background-color: lightcoral;
    border:3px solid red;
}
.bloque2{
    position: relative;
    background-color: lightblue;
    top: 40px;
    left: 30px;
    border:3px solid purple;
}
.bloque3{
    position: absolute;
    background-color: lightsalmon;
    top:10px;
    right: 100px;
    border:3px solid brown;
}
.bloque4{
    position: fixed;
    background-color: lightyellow;
    top:0px;
    left: 0;
    border:3px solid yellow;
}
.bloque5{
    position: sticky;
    top: 0;
    background-color:lightgreen;
    border:3px solid rgb(8, 170, 35);
}