.section1{
    background-color: aqua;
    padding: 20px;
}
.section2{
    padding :10px 15px  20px 25px ;
    background-color: blueviolet;
    margin-bottom: 20px;
}
.section3 button{
    padding: 30px 50px;
    background-color: lightsalmon;
    border-radius: 30px;
}