.layout {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    gap: 20px;
}

.header {
    grid-area: header;
    background-color: lightgray;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgray;
}

.main {
    grid-area: main;
    background-color: lightgray;
}

.footer {
    grid-area: footer;
    background-color: lightgray;
}