.content{
    background-color: lightblue;
    padding: $paddinBase;
    font-family: $fuente;
    color:$colorPrincipal ;
    h2{
        color:$colorSecundario ;
        text-align: center;
    }
    p{
        padding-bottom: 20px;
        padding-left: 10px;
    }
}