.contenedor{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.caja{
    width: 80px;
    height: 80px;
    background-color: bisque;
    display: flex;
    text-align: center;
    align-items: center;
}