body{
    background-color: darkgrey;
}
.section1{
    margin: 20px;
    background-color: antiquewhite;
}
.section2{
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    background-color: aquamarine;
}
.section3{
    margin:auto;
    margin-top:50px;
}