.section1{
    width: 200px;
    height: 150px;
    background-color: aqua;
}
.section2{
    width: 50%;
    height: 100px;
    background-color: blueviolet;
}
.section3{
    width: 300px;
    min-height: 100px;
    max-height: 200px;
    background-color: chocolate;
}