.menu{
    background-color : #333;
    padding : 10px;
    color: white;
    text-align: center;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

    li{
        display: inline;
        margin-right: 15px;

    a{
        color: white;
        text{
            text-decoration: none;
            text-transform: uppercase;
        }
        font-size: 14px;
        &:hover{
            color: #2ecc71;;
        }
}
}
}
}
.content{
    padding{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    text{
        text-align: left;
    }
    h2{
        color: #3498db;
        font{
            font: bold;
            font-size: 24px;
        }

    }

    p{
        color: #555;
}
}

