.header{
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    display: flex;
     align-items: center;
    justify-content: space-between;
}
img{
    width: 150px;
    height: 150px;
}
p{
    
}