body{
    font-family: Arial , sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
header h1{
    font-family: 'Georgia' , serif;
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
}
p.intro{
    font-style: italic;/*Cursiva*/
    font-size: 14px;
    color: #666;
}
section h2{
    font-family: Verdana, sans-serif;
    font-size: 24px;
    color: #007acc;
    text-decoration: underline;
}
p.text1{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
blockquote.highlight{
    font-family: serif;
    color: #2a7a1f;
    background-color: #f0f8f8;
    margin-left: 10px ;
    border-left: 3px solid #2a7a1f ;
}
p.text2{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color:#444;
}
footer{
    font-size: 12px;
    text-align: center;
    color:#888;
}