.menu{
    background-color : #333;
    padding : 10px;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

    li{
        display: inline;
        margin-right: 15px;

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: #2ecc71;;
        }
}
}
}
}
.content{
    padding : 20px;
    h2{
        color: #3498db;
    }

    p{
        color: #555;
}
}

