$textoPrincipal:rgb(44, 115, 173);
$colorFondo:rgb(248, 212, 183);
$colorSecundario:rgb(212, 67, 67);
$colorBlanco:white;
$fuentePrincipal:Arial,
Helvetica,
sans-serif;
$colorFondoHeader:gray;
$tamanoTextoPrincipal:16px;
$border-radius:5px;