.caja {
    width: 150px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    /* display: inline; */
    /* display: inline-block; */
    display: block;
    margin: 20px;
    padding: 10px;
    text-align: center;
    line-height: 10px;
}

.contenedor {
    position: relative;
    top:20px;
    right: 20px;
}

.especial {
    position: absolute;
    color: red;
    top: 20px;
    right: 20px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(83, 211, 250);
}

.cabecera nav a:hover {
    background-color: aqua;
}
footer {
    margin-top: 40px;
    text-align: center;
}
